/* You can add global styles to this file, and also import other style files */
:root {
    --theme-color: #0b1831;
    --text-color: #ecf1f7;
}

body {
    background-color: var(--theme-color);
    color: var(--text-color);    
}

