/* You can add global styles to this file, and also import other style files */
:root {
    --theme-color: #0a1930;
    --text-color: #ecf1f7;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);    
}

